{% extends 'base.html' %}
 
{% block container %}
<div class="home">
    <label for="process">Choose a process</label>
    <select name="process" name="process" onchange="javascript:location.href = this.value;">
        <option value="/classification/gui" >Classification</option>
        <option value="/detection/gui" selected>Detection</option>  
        <option value="/about">About</option> 
    </select>
<h1>Object Detection</h1>
<h3>with Pytorch Yolov5</h3>
{{msg}}

<label for="mode">Choose a mode</label>
<select name="mode" name="mode" onchange="javascript:location.href = this.value;">
    <option value="/detection/gui" selected>GUI</option>
    <option value="/detection/cli">CLI</option>  
</select>
<br>
<br>
<form method="post" enctype="multipart/form-data" >
    {{img_path}}
    <input type="file" name="file" id="img_upload"><br><br>
 
    <img id="image" height="400px" src={{img_url}}>
   
    <br>
    <input type="submit" value="Detect">
</form> 
 
<br>
<img id="image" height="400px" src={{res_img_url}}>
<br>
{% if results %}
<h3>Results</h3>
<table border="1">
    <tr>
    <th>xmin</th>
    <th>ymin</th>
    <th>xmax</th>
    <th>ymax</th>
    <th>confidence</th>
    <th>class</th>
    <th>name</th></tr>
{% for idx,obj in results.items() %}
<tr> 
  {% for k, val in obj.items() %}
  <td>{{val}}</td> 
  {% endfor %}
</tr>

{% endfor %}
</table>
{% else %}
No detection
{% endif %}
</div>
<script>
    document.getElementById('img_upload').onchange = function ( ) { 
   var src = URL.createObjectURL(this.files[0])
  document.getElementById('image').src = src
}
</script>
{% endblock %}